employes.dtd


<!ELEMENT employes (employee+)>
  <!ELEMENT employee (identity, departement, contact, role)>
    <!ELEMENT identity (name, birthday, hiring_date)>
      <!ELEMENT name (#PCDATA)>
      <!ELEMENT birthday (date)>
      <!ELEMENT hiring_date (date)>
      <!ELEMENT date (day, month, year)>
        <!ELEMENT day (#PCDATA)>
        <!ELEMENT month (#PCDATA)>
        <!ELEMENT year (#PCDATA)>
    <!ELEMENT departement (dept_name)>
      <!ELEMENT dept_name (#PCDATA)>
    <!ELEMENT contact (email, address)>
      <!ELEMENT email (#PCDATA)>
      <!ELEMENT address (#PCDATA)>
    <!ELEMENT role (job_title, job_description)>
      <!ELEMENT job_title (#PCDATA)>
      <!ELEMENT job_description (#PCDATA)>
